<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Edit</title>
</head>
<body>
<h1>Edit User</h1>
<div>
<div class="d-flex p-2 bd-highlight">
<form th:object="${user}" th:action="@{../saveUser}" action="#" method="post">
<div class="form-group">
<label for="id">id</label><br />
<input class="form-control" type="text" id="id" th:field="*{id}" readonly="readonly" /><br />
<label for="username">Username</label><br />
<input class="form-control" type="text" id="username" th:field="*{username}" /><br />
<label for="password">Password</label><br />
<input class="form-control" type="text" id="password" th:field="*{password}" /><br />
<label for="firstName">First Name</label><br />
<input class="form-control" type="text" id="firstName" th:field="*{firstName}" /><br />
<label for="lastName">Last Name</label><br />
<input class="form-control" type="text" id="lastName" th:field="*{lastName}" /><br />
<label for="email">Email</label><br />
<input class="form-control" type="text" id="email" th:field="*{email}" />
</div>

<br />
<input type="submit" value="Save" class="btn btn-danger"></input>
<a th:href="@{../userlist}">Cancel</a>
</form>
</div>
</div>
</body>
</html>