<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hermes - Home</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<h3 th:inline="text">Logged in as
			[[${#httpServletRequest.remoteUser}]]!</h3>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div sec:authorize="isAnonymous()">
		<a th:href="@{/login}">Login</a>
	</div>
	<h1>Hermes Application Build 0.1</h1>

	<a th:href="@{/admin/userlist}">View Users</a>
	<br />
	<a th:href="@{/registration}">Sign up</a>

</body>
</html>