<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hermes - Home</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<h3 th:inline="text">Logged in as
			[[${#httpServletRequest.remoteUser}]]!</h3>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<h1>Hermes Application Build 1.0</h1>
	<div sec:authorize="isAnonymous()">
		<a th:href="@{/login}">Login</a>
		<br />
		<a th:href="@{/registration}">Sign up</a>
	</div>

	<div sec:authorize="hasAuthority('ADMIN')">
		<h3>Admin Actions</h3>
		<a th:href="@{/admin/userlist}">View Users</a>
		<br />
		<a th:href="@{/admin/projectlist}">View Projects</a>
		
		<p> Admins can view, edit and delete users, view and delete projects </p>
	</div>
	
	<div sec:authorize="isAuthenticated()">
		<h3>User Actions</h3>
		<a th:href="@{/profile/{username}(username=${#httpServletRequest.remoteUser})}">View profile</a>
		<br />
		<a th:href="@{/addproject}">Create new project</a>
		<br />
	<br />
	
	</div>


</body>
</html>