<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hermes - Profile</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/images/logo.png}">
</head>
<body>
	<a th:href="@{../index}" class="btn ml-5 btn-danger">Home</a>
	<a th:href="@{/addproject}" class="btn btn-danger">New project</a>
	<div class="d-flex justify-content-center">
		<h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]'s
			profile page</h1>
	</div>

	<div class="d-flex justify-content-center">
		<p th:text="'Hello ' + ${user.firstName} + ' ' + ${user.lastName}">
		</p>
	</div>

	<div class="ml-5">
		<h3>Projects you are part of:</h3>
	</div>
	<table style="width: 40%" class="ml-5 table table-striped">
		<tr>
			<th>Project Name</th>
			<th>Project Members</th>
			<th>Project Link</th>

		</tr>
		<tr th:each="project : ${user.projects}">
			<td th:text="${project.name}"></td>

			<td><span th:each="users,iterStat : ${project.users}"> <span
					th:text="${users.firstName} + ' ' + ${users.lastName}" /> <th:block
						th:if="${!iterStat.last}">,</th:block>
			</span></td>

			<td><a th:href="@{/project/{name}(name=${project.name})}"
				class="btn btn-primary">Project link</a></td>
		</tr>
	</table>

</body>
</html>