<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="'Hermes - ' +  ${project.name}">title</title>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/images/logo.png}">
</head>
<body>
	<div sec:authorize="isAuthenticated()" class="float-none">
		<h3 th:inline="text">Logged in as
			[[${#httpServletRequest.remoteUser}]]!</h3>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>

	<a class="btn mt-2 ml-5 btn-danger" th:href="@{../../index}">Home</a>
	<div class="d-flex justify-content-center">
		<h1 th:text="${project.name} + ' Project page'">Project Page</h1>
	</div>
	<div class="d-flex justify-content-center">
		<h3>Project members:</h3>
	</div>
	<div class="d-flex justify-content-center">
		<span th:each="users,iterStat : ${project.users}"> <span
			th:text="${users.firstName} + ' ' + ${users.lastName}" /> <th:block
				th:if="${!iterStat.last}">,</th:block>

		</span>
	</div>


	<div class="mb-3 mt-3 d-flex justify-content-center">
		<h5 th:text="'Project Owner: ' + ${project.projectOwner.firstName} + ' ' + ${project.projectOwner.lastName}">Project Owner:</h5>
	</div>

<span th:if="${owner}">
	<div class="row justify-content-md-center">
	<a th:href="@{/projectdelete/{id}(id=${project.id})}" class=" mt-3 mb-3 btn btn-danger">PERMANENTLY Delete project</a>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-md-2">
			<h3>Add member:</h3>
			<form th:action="@{/project/{name}/addmember(name=${project.name})}"
				method="get">

				<label for="email">email address:</label> <input
					class="form-control" style="max-width: 400px" type="text"
					id="email" name="email" /> <input type="submit"
					class="btn btn-success mt-1" value="Add Member" />
			</form>
		</div>


		<div class="col-md-2">
			<h3>Add tasks:</h3>
			<form th:action="@{/project/{name}/addtask(name=${project.name})}"
				method="get">

				<label for="email">Task description:</label> <input
					class="form-control" style="max-width: 400px" type="text"
					id="email" name="description" /> <input type="submit"
					class="btn btn-success mt-1" value="Add Task" />
			</form>
		</div>
	</div>

</span>	
	<div class="row mt-5 justify-content-md-center">
	<div class="col-3">
	<h3>Planned tasks</h3>
	<table class=" table table-striped">
		<tr>
			<th>Task</th>
			<th>Actions</th>
		</tr>
		<tr th:each="task : ${todos}">
			<td th:text="${task.description}"></td>
			<td><a th:href="@{/deletetask/{id}(id=${task.id})}"
				class="btn btn-danger">Delete</a>
				<a th:href="@{/movetask/{id}(id=${task.id})}"
				class="btn btn-primary">Start Task</a></td>
		</tr>
	</table>
	</div>
	
	<div class="col-3">
	<h3>Tasks In progress</h3>
		<table  class=" table table-striped">
		<tr>
			<th>Task</th>
			<th>Worked by</th>
			<th>Actions</th>
		</tr>
		<tr th:each="task : ${progress}">
			<td th:text="${task.description}"></td>
			<td th:text="${task.user.firstName} + ' ' + ${task.user.lastName}"></td>
			<td><a th:href="@{/deletetask/{id}(id=${task.id})}"
				class="btn btn-danger">Delete</a>
				<a th:href="@{/movetask/{id}(id=${task.id})}"
				class="btn btn-primary">Complete Task</a></td>
		</tr>
	</table>
	</div>
	
	<div class="col-3">
	<h3>Completed tasks</h3>
		<table  class=" table table-striped">
		<tr>
			<th>Task</th>
			<th>Completed by</th>
			<th>Actions</th>
		</tr>
		<tr th:each="task : ${completed}">
			<td th:text="${task.description}"></td>
			<td th:text="${task.user.firstName} + ' ' + ${task.user.lastName}"></td>
			<td><a th:href="@{/deletetask/{id}(id=${task.id})}"
				class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	</div>
	</div>
</body>
</html>